/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' 400;
  font-variation-settings: 'wght' 715;
  background-image: var(--background-gradient);
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.block {
  width: var(--desktop-width);
  background-color: #FFFFFF;
}

.header {
  outline: 2px solid #000000;
  justify-self: center;
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-block: clamp(122px, 60%, 130px);
}

.header__logo {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-inline: clamp(0px, 0%, 122.5px);
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-inline: clamp(50px, 0%, 177.5px);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  outline: 2px solid #000000;
  padding-block-end: 25px;
  padding-block-start: 4px;
  justify-self: center;
  margin-block-end: 50px;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-heading);
  font-size: 18px;
  font-variation-settings: 'slnt' 0;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 10px;
}

.card__picture {
  width: 100%;
  margin-block-end: 21px;
}

.card__label {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 1;
  color: #000;
  text-shadow: 0 0 9px var(--label-text-stroke);
  right: 25px;
  top: 50px;
  z-index: 1;
}

@supports(-webkit-text-stroke: 1px) { 
  .card__label { 
    -webkit-text-stroke: 0.2px var(--label-text-stroke); 
    text-shadow: none; 
  } 
} 

.card__paragraph {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-text);
  font-style: normal;
  font-size: 18px;
  font-variation-settings: 'slnt' 0;
  line-height: 21px;
  letter-spacing: 0;
  margin-inline-end: 25px;
  margin-inline-start: 25px; 
  margin-block-end: 25px; 
}

.card__icon-button {
  width: 27px;
  height: 24px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-inline-start: 25px;          
}    

.card__icon-button:focus { 
  outline: none; 
} 

.like-icon {
  transform-origin: center;
  border: 2px solid transparent;
  transition: transform-origin 0.3s ease;
  cursor: pointer;
}

.like-icon:focus { 
  outline: none; 
}

.like-icon:focus-visible { 
  border-color: var(--accent-color);
  transition: border-color 0.3s linear; 
} 

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
} 

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
} 

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .heart .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
} 

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: fadeIn 0.3s ease-in 0.3s;
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-contrast {
  filter: contrast(160%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg); 
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-opacity {
  filter: opacity(40%);
}

.filter-invert {
  filter: invert(1);
}

.filter-h-r-c {
  filter: hue-rotate(170deg) contrast(160%);
}

.button {
  display: inline-block;
  border: 2px solid #000000; 
  background-color: transparent; 
  color: #000000; 
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;   
  position: relative; 
}

.button::before {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 100%; 
  background-color: #FFFFFF;
  transform: translateX(-100%);  
  transition: transform 0.5s ease-in-out; 
  position: absolute; 
  top: 0; 
  left: 0; 
}

.button:hover { 
  background-color: #000000; 
  mix-blend-mode: difference;
  cursor: pointer; 
} 

.button:hover::before { 
  transform: translateX(0);
} 

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__buttons {
  display: flex;
  justify-self: right;
  margin-inline-end: 25px;
}

.card__like-button {
  min-width: 130px; 
  min-height: 38px;
  margin-inline-start: 25px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  z-index: 1000;
}

.block-button {
  background-color: #FFFFFF;
  width: clamp(306px, 0%, 335px);
  height: clamp(55px, 0%, 84px);
  justify-self: center;
  margin-block-start: 50px;
}

.open_button {
  width: clamp(306px, 0%, 335px);
  height: clamp(55px, 0%, 84px);
  margin-block-end: 100px;
}

.open_button .button__text {
  vertical-align: middle;
  white-space: nowrap;
}

dialog {
  outline: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 30px;
}

.dialog__icon {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-block-end: 30px;
}

.dialog__text {
  grid-column: 2;
  line-height: 150%;
  margin-inline-start: 20px;
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.dialog__close_button {
  min-width: 293px; 
  min-height: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog__icon .button__text {
  text-transform: uppercase;
}

@media (max-width: 375px) {

.header {
  padding-block: clamp(0px, 70%, 122px);
}

.block {
  width: var(--mobile-width);
}

.header__logo {
  font-size: clamp(2rem, 3vw, 4rem);
  margin-inline: clamp(0px, 40%, 16px);
}

.header__title {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-inline: clamp(0px, 10%, 83px);
}

.open_button {
  width: clamp(0px, 5%, 306px);
}

}