/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' 410;
  font-variation-settings: 'wght' 715;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.block {
  width: var(--block-width);
  background-color: #FFFFFF;
}

.header {
  min-height: 368px;
  outline: 2px solid #000000;
  justify-self: center;
  margin-block-start: 100px;
}

.header__logo-group {
  padding-block: clamp(122px, 5%, 130px);
  padding-inline: clamp(16px, 23%, 122.5px);
}

.header__logo {
  font-family: var(--accent-font);
  font-weight: 700;
  font-style: normal;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 700;
  font-style: normal;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.preparation {
  margin-block-start: 98px;
  justify-items: center;
}

.clean_sheet {
  justify-items: center;
}

.ideal {
  justify-items: center;
}

.workaround_strategies {
  justify-items: center;
}

.now {
  justify-items: center;
}

.preparation .card .card__image .card__label {
  top: 40px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  min-height: auto;
  outline: 2px solid #000000;
  margin-block-end: 50px;
  padding-block-end: 25px;
}

.card__title {
  font-family: var(--main-font);
  font-weight: var(--main-font-heading);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-inline-start: 10px;
}

.card__picture {
  width: 100%; 
  height: auto;
  margin-block-end: 25px;
}

.card__label {
  font-family: var(--accent-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 1;
  width: 98px;
  height: 14px;
  color: #000;
  text-shadow: 0 0 1px var(--label-text-stroke);
  right: 25px;
  top: 25px;
  z-index: 1;
}

@supports(-webkit-text-stroke: 1px) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-text-stroke);
    text-shadow: none;
  }
}

.card__paragraph {
  font-family: var(--main-font);
  font-weight: var(--main-font-text);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  margin-inline: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  width: 27px;
  height: 24px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-inline-start: 25px;          
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  transform-origin: center;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  border-color: var(--accent-color);
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
} 

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
} 

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .heart .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
} 

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s ease-in 0.3s;
}

.fear {
  filter: grayscale(1);
}

.adaptation {
  filter: contrast(160%);
}

.understand {
  filter: hue-rotate(30deg); 
}

.fuss {
  filter: sepia(100%);
}

.rush {
  filter: opacity(40%);
}

.easement {
  filter: invert(1);
}

.active_work {
  filter: hue-rotate(170deg) contrast(160%);
}

.card__buttons {
  display: flex;
  min-width: 169px;
  height: 38px;
  justify-self: right;
  margin-inline-end: 25px;
}

.card__like-button {
  display: inline-block;
  width: 130px;
  height: 38px;
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  margin-inline-start: 25px;
}

.card__like-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.card__like-button:hover {
  background-color: #000000;
  mix-blend-mode: difference;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  vertical-align: middle;
  z-index: 1000;
}

footer {
  justify-self: center;
}

.footer__open_button {
  display: inline-block;
  width: clamp(306px, 0%, 335px);
  min-height: 55px;
  outline: 2px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  margin-block-end: 50px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.footer__open_button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__open_button:hover {
  background-color: #000000;
  color: #FFFFFF;
  mix-blend-mode: difference;
}

.footer__open_button:hover::before {
  transform: translateX(0);
}

.footer__open_button:focus {
  outline: none;
}

.footer__open_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

dialog {
  width: 353px;
  height: 191px;
  outline: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 30px;
  overflow: hidden;
}

.dialog__icon {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 293px;
  height: 63px;
  margin-block-end: 30px;
}

.dialog__icon .button__text {
  grid-column: 2;
  line-height: 150%;
}

.dialog__close_button {
  display: inline-block;
  width: 293px;
  height: 38px;
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  overflow: hidden;
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.dialog__close_button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog__close_button:hover {
  background-color: #000000;
  mix-blend-mode: difference;
}

.dialog__close_button:hover::before {
  transform: translateX(0);
}

.dialog__close_button:focus {
  outline: none;
}

.dialog__close_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

@media (max-width: 375px) {

.block {
  width: var(--block-width);
}

.header {
  min-height: 327px;
}

.header__logo-group {
  padding-block: clamp(0px, 50%, 122px);
  padding-inline: clamp(0px, 50%, 16px);
}

.header__logo {
  font-size: clamp(0rem, 0rem + 13.0667vw, 3.0625rem);
}

.header__title {
  font-size: clamp(0rem, 0rem + 3.7333vw, 0.875rem);
}

.preparation {
  margin-block-start: 100px;
}

.card__picture {
  width: 371px;
  height: 371px;
}

.footer__open_button {
  width: clamp(0px, 5%, 306px);
  max-height: 84px;
}

}