/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.block {
  width: var(--desktop-width);
  background-color: #FFFFFF;
}

.header {
  outline: 2px solid #000000;
  justify-self: center;
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
}

.header__logo {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-inline: clamp(1rem, -1.3437rem + 9.9996vw, 7.656rem);
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-inline-start: clamp(5.187rem, 3.1074rem + 8.8729vw, 11.093rem);
  margin-inline-end: clamp(5.125rem, 3.0236rem + 8.9660vw, 11.093rem);
  white-space: nowrap;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  outline: 2px solid #000000;
  padding-block-start: 4px;
  justify-self: center;
  margin-block-end: 42px;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-heading), 'slnt' 0;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 12px;
}

.card__image {
  position: relative;
}

.card__label {
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 1;
  color: #000;
  text-shadow: 0 0 9px var(--label-text-stroke);
  right: 25px;
  top: 28px;
  z-index: 1;
}

@supports(-webkit-text-stroke: 1px) { 
  .card__label { 
    -webkit-text-stroke: 1px var(--label-text-stroke); 
    text-shadow: none; 
  } 
} 

.card__picture {
  width: 100%;
  margin-block-end: 18px;
  border-block-start: 2px solid #000000;
  border-block-end: 2px solid #000000;
}

.card__paragraph {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-text), 'slnt' 0;
  line-height: 21px;
  letter-spacing: 0;
  margin-inline-end: 25px;
  margin-inline-start: 25px; 
  margin-block-end: 23px; 
}

.card__icon-button {
  display: grid;
  grid-template-columns: repeat(1, min-content);
  grid-template-rows: repeat(1, min-content);
  justify-content: center;
  align-content: center;
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: 2px solid transparent;
  justify-self: right;  
  margin-inline-end: 163px;  
}    

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color); 
  transition: border 0.3s linear;
}

.like-icon {
  transform-origin: center;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.like-icon:focus {
  outline: none;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
} 

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
} 

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .heart .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
} 

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: fadeIn 0.3s ease-in 0.3s;
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-contrast {
  filter: contrast(160%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg); 
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-opacity {
  filter: opacity(40%);
}

.filter-invert {
  filter: invert(1);
}

.filter-h-r-c {
  filter: hue-rotate(170deg) contrast(160%);
}

.pointing__button {
  display: inline-block;
  border: 2px solid #000000; 
  background-color: #FFFFFF;
  color: #FFFFFF;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;   
  position: relative;
  cursor: pointer; 
}

.pointing__button::before {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 100%; 
  background-color: #000;
  transform: translateX(-100%);  
  transition: transform 0.5s ease-in-out; 
  position: absolute; 
  top: 0; 
  left: 0; 
}

.pointing__button:hover::before { 
  transform: translateX(0);
} 

.pointing__button span {
  mix-blend-mode: difference;
}

.pointing__button svg {
  mix-blend-mode: difference;
  color: #FFFFFF;
}

.pointing__button:focus {
  outline: none;
}

.pointing__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  width: 130px; 
  height: 38px;
  margin-inline-end: 25px;
  justify-self: right;
  bottom: 32px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  z-index: 1000;
}

.block-button {
  justify-self: center;
}

.open__button {
  margin-block-end: 100px;
}

.open__button_icon {
  color: #000;
}

.dialog {
  border: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 30px;
}

.dialog__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-block-end: 30px;
}

.dialog__icon {
  margin-block: 12px;
  width: 39px;
  height: 39px;
}

.dialog__text {
  grid-column: 2;
  line-height: 150%;
  margin-inline-start: 20px;
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.dialog__close_button {
  min-width: 293px; 
  min-height: 38px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

@media (width <= 374px) {
 
  .header {
    margin-block-end: 100px;
  }

  .block {
    width: var(--mobile-width);
  }

  .card {
    margin-block-end: 42px;
  }

  .card__title {
    line-height: 1.2;
  }

  .card__label {
    top: 25px;
    right: 25px;
  }

  .card__picture {
    margin-block-end: 19px;
  }

  .card__paragraph {
    margin-block-end: 24px;
  }

  .dialog {
    padding-inline: 40px;
  }

  .dialog__close_button {
    min-width: 261px;
  }
} 

@media (min-width: 375px) {

  .open__button {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    width: clamp(1rem, 0.9515rem + 77.5401vw, 19.125rem);
    padding-block: clamp(1rem, 0.9998rem + 0.2695vw, 1.063rem);
  }

  .open__button_icon {
    justify-self: center;
    width: 28px;
    height: 28px;
}

}

@media (min-width: 1440px) {
  
  .open__button {
    display: flex;
    flex-direction: row;
    width: clamp(19.125rem, 18.4866rem + 2.7238vw, 20.938rem);
    padding-block: clamp(1.063rem, 1.0412rem + 0.0931vw, 1.125rem);
    padding-inline: 20px;
  }

  .open__button_icon {
    width: 21px;
    height: 21px;
    margin-inline-end: 4px;
}

  .open__button .block-button {
    vertical-align: middle;
  }

}